.itemDetailCont {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.itemDetail img {
    width: 100%;
    padding: 10px 0;
}

.itemDetail h4 {
    color:brown;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.itemDetail h3 {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.itemDetail p {
    font-size: large;
    font-weight: 600;
    color: rgb(122, 23, 23);
}

.boton {
    color: black;
    border-radius: 5px;
    background-color: white;
    font-size: medium;
    padding: 10px;
}