.bodyContainer {
    border-bottom: dashed 1px rgb(245, 121, 142);
}

.bodyContainer h2 {
    padding: 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color:rgb(162, 97, 248);
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.itemList {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.itemList img {
    width: 75%;
    justify-items: center;
}
