.bodyContainer {
    padding: 10px;
}

.saludo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color:rgb(162, 97, 248);
    font-weight: 500;
    text-align: center;
}

.itemList {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.card {
    padding: 10px 0;
    width: 30%;
    display: grid;
    place-items: center;
    border: solid 1px black;
    border-radius: 15px;
}

.card img {
    width: 50%;
    padding: 10px 0;
}

.card h4 {
    color:brown;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card h3 {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card p {
    font-size: large;
    font-weight: 600;
    color: rgb(122, 23, 23);
}

.boton {
    color: black;
    border-radius: 5px;
    background-color: white;
    font-size: medium;
    padding: 10px;
}

